.home-grid-container {
    display: grid;
    column-gap: 20px;
    grid-template-columns: 20% 78%;
    margin-top: 10px;
}

.home-grid-item-1 {
    margin-left : 10px;
}

.home-right-display {
    padding-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #F8F8F8;
}